if ARCH_SNAPDRAGON

config DEBUG_UART_APQ8016
	bool "APQ8016 early debug initialization"
	select CLK_QCOM_APQ8016
	select CONFIG_DEBUG_UART_MSM
	select DEBUG_UART_BOARD_INIT
	help
	  Ensures BLSP UART clocks+pins are setup. Useful when U-Boot is running from
	  aboot (such as on the dragonboard410c).

config ARCH_SNAPDRAGON_ARM32
	bool "Build Snapdragon support for ARMv7-A SoCs"
	help
	  Enable this when building U-Boot for older 32-bit Snapdragon
	  platforms, such as the MSM8960 family.

config SYS_SOC
	default "snapdragon"

config SYS_VENDOR
	string "Snapdragon board vendor"
	default "qualcomm"
	help
	  Allows to specify vendor for the Snapdragon SoCs based boards.
	  Based on this option board/<CONFIG_SYS_VENDOR>/<CONFIG_SYS_BOARD>
	  will be used as the custom board directory.

config SYS_MALLOC_LEN
	default 0x10000000

config SYS_MALLOC_F_LEN
	default 0x2000

config SPL_SYS_MALLOC_F_LEN
	default 0x2000

config SYS_MALLOC_LEN
	default 0x800000

config LNX_KRNL_IMG_TEXT_OFFSET_BASE
	default 0x80000000

config SYS_BOARD
	string "Snapdragon SoCs based board"
	help
	  Allows to specify the Snapdragon SoCs based board name.
	  Based on this option board/<CONFIG_SYS_VENDOR>/<CONFIG_SYS_BOARD>
	  will be used as the custom board directory.

config SYS_CONFIG_NAME
	string "Board configuration name"
	default SYS_BOARD if SYS_BOARD != ""
	default "qcom"
	help
	  This option contains information about board configuration name.
	  Based on this option include/configs/<CONFIG_SYS_CONFIG_NAME>.h header
	  will be used for board configuration.

endif
