#include <config.h>

#ifdef CONFIG_QCOM_LEGACY_ABOOT_IMAGE
#include <dt-bindings/arm/qcom,ids.h>
#endif

/ {
	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		framebuffer@8e000000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0x8e000000 0x0 0x002a3000>;
			width = <720>;
			height = <1280>;
			stride = <2160>;
			format = "r8g8b8";
		};
	};
};

#ifdef CONFIG_QCOM_LEGACY_ABOOT_IMAGE
/ {
	binman: binman {
		multiple-images;

		u-boot-samsung-a5u {
			filename = "u-boot-samsung-a5u.img";

			android-boot-qcom-legacy {
				page-size = <2048>;
				kernel-addr = <0x80008000>;
				ramdisk-addr = <0x81000000>;
				second-addr = <0x80f00000>;
				tags-addr = <0x80000100>;
				cmdline = "lk2nd";
				append-seandroid-enforce;

				kernel {
					u-boot {
						no-expanded;
					};
				};

				qcdt {
					page-size = <2048>;
					qcom,msm-id = <QCOM_ID_MSM8916 0>;
					qcom,board-id = <0xce08ff01 1>;
				};
			};
		};
	};
};
#endif
