CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_BASE=0x13820000
CONFIG_DEBUG_UART_CLOCK=133250000
CONFIG_DEBUG_UART_S5P=y
CONFIG_LOG=y
CONFIG_LOG_CONSOLE=y
CONFIG_LOG_MAX_LEVEL=6
CONFIG_LOG_DEFAULT_LEVEL=4
CONFIG_CMD_CLK=y
CONFIG_CMD_EFIDEBUG=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_FAT=y
CONFIG_CMD_GPT=y
CONFIG_CMD_I2C=y
CONFIG_CMD_MMC=y
CONFIG_CMD_MMC_REG=y
CONFIG_CMD_PART=y
CONFIG_CMD_PMIC=y
CONFIG_CMD_REGULATOR=y
